.Small {
  width: 100%;
  max-width: 1370px;
  margin: auto;
  height: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Small > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin: auto;
  border-radius: 15px;
}
.image-over-small {
  display: flex;
  align-items: center;
  height: min-content;
  justify-content: center;
  flex-direction: column;
}
.h1 > h1 {
  font-family: poppins;
  font-style: bold;
  font-weight: bolder;
  font-size: 22px;
  text-decoration: none;
  margin: 0;
  color: #000000;
}
.image-over-small > h2 {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  color: #000000;
}
