.StudentHome {
  width: 95%;
  background: #ffffff;
  border-radius: 20px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  min-height: 100vh;
}
.content {
  width: 90%;
  padding: 50px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  /* margin: 55px 90px 100px 90px; */
}
.searchArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  gap: 10px;
}
.searchArea > input {
  width: 100%;
  max-width: 1300px;
  background: #f9f9f9;
  border-radius: 10px;
  height: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  padding: 0 10px;
  text-transform: capitalize;
  border: 1px solid #e8e8ef;
}
.searchArea > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5840bb;
  border-radius: 10px;
  padding: 7px;
}
.wide {
  width: 100%;
  max-width: 1370px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  min-height: 290px;
  grid-gap: 15px;
}
.semiwide {
  width: 100%;
  max-width: 1370px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 290px;
  grid-gap: 15px;
}

.small {
  width: 100%;
  max-width: 1370px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 350px;
  grid-gap: 15px;
}
.smalltitle {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  font-family: poppins;
  font-style: bolder;
  font-weight: 900;
  font-size: 28px;
  line-height: 30px;
  padding: 80px 0 30px 0;
  /* identical to box height, or 117% */

  color: #000000;
}
